footer {
	@include center(960px);
	padding: 30px 0;
	margin-top: 45px;

	.contacts, .copy {
		@include col(3/12);
	}
	.contacts {
		font-size: 12px;
		color: #666666;
		height: 110px;
		&.border {
			border-right: 1px solid #E9E8E8;
		}
		h5 {
			margin-bottom: 18px;
			font-weight: normal;
			font-size: 14px;
			color: #000;
		}
		p {
			margin-bottom: 8px;
		}
	}
	.copy {
		font-size: 12px;
		color: #232020;
		line-height: 1.2;
		a, a:link, a:visited {
			color: #232020;
			&:hover {
				color: lighten(#232020, 10%);
			}
		}
		.icon-iastudio {
			float: left;
			margin-right: 6px;
			margin-top: 3px;
		}
		.copyright {
			font-size: 14px;
			margin-top: 15px;
		}
		.footer__social {
			.b-share__handle {
				padding: 0 5px 0 0 !important;
				opacity: 0.8;
				@include transition-property(all);
				@include transition-duration(.1s);
				@include transition-timing-function(ease-in);
				&:hover {
					opacity: 1;
				}
			}
			margin: 0;
			margin-bottom: 15px;
		}
	}
}