
// Placeholder styling mixin
@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}
};

// libs
@import "photoshop-drop-shadow";
@import "compass/css3";
@import "compass/utilities";

// main
@import "settings";
@import "reset";
@import "text";
@import 'jeet/index';
//@import "960";
//@import "grid";
@import "else";

// JQ UI
@import "ui";

// Misc
@import "forms";
@import "lightbox";
@import "slider";
@import "scroller";

// Elements
@import "header";
@import "footer";

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Kelson Sans', Helvetica, Arial, sans-serif;
	background: $bg-color;
	line-height: 150%;
	font-size: $text-size;
	min-width: 960px;
	color: #333;
}

a[href^=tel]{
    color: inherit;
    text-decoration: none;
}

@media screen and (max-device-width: 480px){
  body{
    -webkit-text-size-adjust: none;
  }
}

#wrapper {
	overflow: hidden;
}

h1, h2, h3, h4 {
	//color: $blue-color;
	color: #000;
	font-weight: 200;
	margin-bottom: 30px;
}

h1 {
	font-size: 30px;
}

h5 {
	text-transform: uppercase;
}

p {
	line-height: 120%;
}

strong {
	font-weight: bold;
}

.uppercase {
	text-transform: uppercase;
}

.right {
	float: right !important;
}

.left {
	float: left !important;
}

a, input, textarea, .btn {
	outline: none;
}

a, a:link, a:visited {
	color: #0099e1;
	text-decoration: underline;
	&:hover {
		color: lighten(#0099e1, 10%);
	}
}

.lbox {
	display: block;
	border: 9px solid #fff;
	@include box-shadow(1px 1px 0 0 #96c4ea);

	&:hover {
		opacity: 0.9;
	}
}

.container {
	@include center(960px);
	position: relative;
	z-index: 1;
}

ul {
	list-style-image: url('../i/li.png');
	li {
		margin-left: 16px;
	}
}

blockquote {
	padding-left: 22px;
	border-left: 10px solid #A61B25;
}
