- var active = 2
- var pageName = 'О нас'
include includes/settings
doctype html
html(lang='ru').no-js
  head
    include includes/head
  body
    .wrapper
      include includes/header
      .container.content
        aside.sidebar
          ul
            li: a(href="#") Заказ через интернет apteka.ru
            li: a(href="#") Адреса наших аптек
        main
          h2 О нас
          .breadcrumbs
            ul
              li: a(href="#") Главная
              li: a(href="#") О нас
          p
            strong.uppercase Аптечная сеть «Моя аптека» на Приморском рынке с 2004 года. В настоящее время она представлена четырьмя аптеками с открытой формой выкладки товара (для Вашего удобства - в разных районах города и в Большом камне). Аптека на Океанском проспекте работает КРУГЛОСУТОЧНО, без выходных и праздников.<br><br>
            |Учитывая специфику товара, которые реализуют аптеки, мы предъявляем высокие требования как к уровню профессионализма наших специалистов, так и к репутации наших партнеров – фармацевтических дистрибьюторов (поставщиков лекарственных товаров).
            |Мы предлагаем Вам индивидуальный подход в обслуживании, широкий ассортимент лекарственных препаратов, самый большой выбор лечебной косметики по уходу за проблемной кожей, комфортную атмосферу обслуживания, возможность заказа из Москвы препарата, отсутствующего на городском аптечном рынке… А также скидки и акции.
          h5.uppercase Наше преимущество – качество работы с клиентом:
          .service-items
            .service-item
              span.icon-hand
              h5.service-item__info Удобство покупки
            .service-item
              span.icon-shop
              h5.service-item__info Сбалансированный ассортимент
            .service-item
              span.icon-micro
              h5.service-item__info Профессионализм
          p Мы стремимся удовлетворить запросы всех наших клиентов. Нам доверяют, потому что мы говорим и делаем только то, во что верим сами. Мы ответственны, честны, понятны и последовательны. 
          p Выбирая наши аптеки вы всегда можете быть уверены в качестве ваших покупок, правильности консультаций и рекомендаций.
          p Хотим еще раз напомнить Вам, что самолечение бывает опасно для Вашего здоровья. Мы не хотим утверждать, что любое лекарственное средство должно выписываться врачом! Именно поэтому и существуют безрецептурные препараты, которые могут Вам позволить заняться ответственным самолечением. Ударение в этом предложении сделано на слове «ответственное». Тем самым подразумевается, что Вы не будете использовать какой-то конкретный препарат, предварительно не убедившись, что этот препарат предназначен для лечения именно Вашего случая заболевания. Также необходимо удостовериться, что применение этого препарата не приведет к нежелательным  для Вас побочным эффектам.
          p К советам знакомых и соседей также относитесь вдумчиво. То, что подходит Вашей соседке, может быть для Вас крайне неблагоприятным. Ведь мы отличаемся друг от друга по полу, возрасту, массе тела, образу жизни и возможным «букетом» других недомоганий. Все эти особенности имеют прямое значение при выборе лекарственного препарата. 
          p Более того, если Вы принимаете какое-либо лекарство, прием второго должен быть уже обоснован, потому как препараты взаимодействую между собой и могут привести к аллергической реакции, шоку и другим «неприятным» последствиям.
          p Только дипломированный специалист может оказать квалифицированную помощь, чтобы Ваше лечение было в максимальной степени эффективно и безвредно. Поэтому мы не рекомендуем принимать решение о приеме незнакомого лекарственного препарата самостоятельно.
      include includes/footer
    include includes/tail