- var active = 1
- var pageName = 'Главная'
include includes/settings
doctype html
html(lang='ru').no-js
  head
    include includes/head
    | <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
  body
    .wrapper
      include includes/header
      include includes/slider
      .container.content
        aside.sidebar
          h2 Только у нас
          ul
            li: a(href="#") Эксклюзивные препараты
            li: a(href="#") Специализация в области дерматологии
            li: a(href="#") Самый широкий выбор лечебной косметики
            li: a(href="#") Лечебная косметика для малышей
            li: a(href="#") Профессиональные консультации
            li: a(href="#") Предвартельный заказ
            li: a(href="#") Ароматерапия
            li: a(href="#") Лечебные продукты
        article
          h1 Твой мир здоровья и красоты
          .item
            a.item__title(href="#")
              h5 Эликсир совершенства
            p Самые знаменитые секреты красоты и здоровья объединяются единым термином «ароматерапия» и являются эффективным и изысканным средством решения различных косметических проблем. Методики же применения ароматов разнообразны, как жизнь:
            a.btn(href="#") Читать полностью
          .item
            a.item__title(href="#")
              h5 Диета которая нравится
            p Если Вы устали бороться с лишним весом и хотите достичь гармонии души и тела, мы поможем Вам похудеть правильно. Наша диета для похудения не вызывает ни малейшего дискомфорта, Вы продолжаете есть любимую пищу, ориентируясь на консультации диетолога.
            a.btn(href="#") Читать полностью
      .container.scroller
        h1 Самые выгодные предложения
        #tl-scroller
          .next-btn: i.fa.fa-angle-right
          .prev-btn: i.fa.fa-angle-left
          .tl-container
            .tl-inner-scroller
              .item: a(href='#')
                img.thumb(src='i/placeholders/1.jpg')
                .ribbon-wrapper: .ribbon акция
                h5 СНИЖЕНИЕ ЦЕН На жаропонижающие
                p Только до 25 мая специальное предложение на все жаропонижающие
              .item: a(href='#')
                img.thumb(src='i/placeholders/2.jpg')
                .ribbon-wrapper: .ribbon new
                h5 Арифон ретард За Пол цены
                p Сеть аптек “Моя аптека”совместно с ЗАО ”ФАРМ- стандарт” проводит акцию.
              .item: a(href='#')
                img.thumb(src='i/placeholders/3.jpg')
                .ribbon-wrapper: .ribbon скидки
                h5 2 упаковки по цене одной
                p таблетки 10 мг упаковка контурнаяячейковая №20 
              .item: a(href='#')
                img.thumb(src='i/placeholders/4.jpg')
                .ribbon-wrapper: .ribbon new
                h5 Троксерутин Врамед
                p капсула 2.5 мг упаковка контурная ячейковая №30
              .item: a(href='#')
                img.thumb(src='i/placeholders/1.jpg')
                .ribbon-wrapper: .ribbon акция
                h5 СНИЖЕНИЕ ЦЕН На жаропонижающие
                p Только до 25 мая специальное предложение на все жаропонижающие
              .item: a(href='#')
                img.thumb(src='i/placeholders/2.jpg')
                .ribbon-wrapper: .ribbon new
                h5 Арифон ретард За Пол цены
                p Сеть аптек “Моя аптека”совместно с ЗАО ”ФАРМ- стандарт” проводит акцию.
              .item: a(href='#')
                img.thumb(src='i/placeholders/3.jpg')
                .ribbon-wrapper: .ribbon скидки
                h5 2 упаковки по цене одной
                p таблетки 10 мг упаковка контурнаяячейковая №20 
              .item: a(href='#')
                img.thumb(src='i/placeholders/4.jpg')
                .ribbon-wrapper: .ribbon new
                h5 Троксерутин Врамед
                p капсула 2.5 мг упаковка контурная ячейковая №30
          .slider-wrapper
            .slider
      include includes/footer
    include includes/tail