- var active = 4
- var pageName = 'Эликсир совершенства'
include includes/settings
doctype html
html(lang='ru').no-js
  head
    include includes/head
  body
    .wrapper
      include includes/header
      .container.content
        aside.sidebar
          h2 Твой мир здоровья и красоты
          ul
            li: a(href="#") Атопический дерматит
            li: a(href="#") Волосы. Сохранить и преумножить
            li: a(href="#") Диета которая нравится
            li: a(href="#") Донат магния
            li: a(href="#") Запор. И это все о нем
            li: a(href="#") Кодали
            li: a(href="#") ЛИЕРАК
            li: a(href="#") Самолечение
            li: a(href="#") Фотмула здоровой кожи
            li: a(href="#") Эфирный мир
            li.active: a(href="#") Эликсир совершенства
        main
          h2 Эликсир совершенства
          .breadcrumbs
            ul
              li: a(href="#") Главная
              li: a(href="#") Это интересно
          p: img(src="i/placeholders/big-1.jpg")
          p Самые знаменитые секреты красоты и здоровья объединяются единым термином «ароматерапия» и являются эффективным и изысканным средством решения различных косметических проблем. Методики же применения ароматов разнообразны, как жизнь:
          p Эфирные масла способны подарить нашей внешности порой больше, чем мы ожидаем. Существуют природные эссенции, вызывающие неизменную благосклонность зеркал. Они ласкали кожу Таис Афинской, они обрамляли своим ароматом восхитительную прелесть маркизы де Пампадур, они дарили красавицам различных эпох легендарный шарм и вечную молодость. 
          p Во времена зарождения духовности люди полагали, что «Пища Богов» - это ароматы. Вот почему считается, что человек, живущий с ароматами, не только притягивает к себе светлые магические силы извне, но также пробуждает божественную суть в своем сердце.
          ul.col-1-3
            li добавки в косметику
            li аромамассаж
            li аромаванны
            li эфирные обертывания
          ul.col-1-3
            li орошение кожи
            li паровые ванночки
            li маски
            li массаж эфирным льдом
          ul.col-1-3
            li аппликации и др.
          .cf
          p Эфирные масла способны подарить нашей внешности порой больше, чем мы ожидаем. Существуют природные эссенции, вызывающие неизменную благосклонность зеркал. Они ласкали кожу Таис Афинской, они обрамляли своим ароматом восхитительную прелесть маркизы де Пампадур, они дарили красавицам различных эпох легендарный шарм и вечную молодость. 
          p Во времена зарождения духовности люди полагали, что «Пища Богов» - это ароматы. Вот почему считается, что человек, живущий с ароматами, не только притягивает к себе светлые магические силы извне, но также пробуждает божественную суть в своем сердце.
          blockquote
            h5 Природные эссенции гармонично сочетают в себе
            ul
              li естественные витамины
              li минералы 
              li природные растительные компоненты
          p Но, что значительно важнее, они даруют нам энергетику солнца, воды, воздуха и земли. Любая парфюмерия и косметика – это симфония индивидуальности, вдохновения и фантазии. Найти свое эфирное масло – значит найти формулу гармонии духа и здоровья, формулу успеха в любви и радости в жизни.
          p Австрийская компания STYX naturcosmetic производит эфирные масла безупречного качества уже более 100 лет.
          p Применение эфирных масел, методики и правила ароматерапии, качество и особенности природных ароматов, что такое эфирная энергия и афродизиаки … На все эти вопросы Вы найдете ответы, посетив «Мою аптеку» по адресу Океанский проспект, 50 (ост. Дальпресс). Также мы дадим Вам маленькую косметическую шпаргалку, которая поможет сориентироваться на первых порах в огромном и прекрасном мире – мире волшебных ароматов.           
      include includes/footer
    include includes/tail