- var active = 4
- var pageName = 'Это интересно'
include includes/settings
doctype html
html(lang='ru').no-js
  head
    include includes/head
  body
    .wrapper
      include includes/header
      .container.content
        aside.sidebar
          h2 Твой мир здоровья и красоты
          ul
            li: a(href="#") Атопический дерматит
            li: a(href="#") Волосы. Сохранить и преумножить
            li: a(href="#") Диета которая нравится
            li: a(href="#") Донат магния
            li: a(href="#") Запор. И это все о нем
            li: a(href="#") Кодали
            li: a(href="#") ЛИЕРАК
            li: a(href="#") Самолечение
            li: a(href="#") Фотмула здоровой кожи
            li: a(href="#") Эфирный мир
            li: a(href="#") Элексир совершенства
        main
          h2 Это интересно
          .breadcrumbs
            ul
              li: a(href="#") Главная
              li: a(href="#") Это интересно
          .item
            .item__image
              img(src="i/placeholders/2-1.jpg")
            .item__content
              a.item__title(href="#")
                h5 Диета которая нравится
              p Если Вы устали бороться с лишним весом и хотите достичь гармонии души и тела, мы поможем Вам похудеть правильно. Наша диета для похудения не вызывает ни малейшего дискомфорта, Вы продолжаете есть любимую пищу, ориентируясь на консультации диетолога.
              a.btn(href="#") Читать полностью
              .item__views
                i.fa.fa-eye
                |540 просмотров
          .item
            .item__image
              img(src="i/placeholders/2-2.jpg")
            .item__content
              a.item__title(href="#")
                h5 Атопический дерматит
              p Раньше для педиатра понятие “уход за кожей ребенка“ никогда не входило в число приоритетных ввиду того, что это считалась исключительно прерогативой косметологов и, в лучшем случае, дерматологов, но никак не педиатров.
              a.btn(href="#") Читать полностью
              .item__views
                i.fa.fa-eye
                |540 просмотров
          .item
            .item__image
              img(src="i/placeholders/2-3.jpg")
            .item__content
              a.item__title(href="#")
                h5 Волосы сохранить и преумножить
              p Если Вы устали бороться с лишним весом и хотите достичь гармонии души и тела, мы поможем Вам похудеть правильно. Наша диета для похудения не вызывает ни малейшего дискомфорта, Вы продолжаете есть любимую пищу, ориентируясь на консультации диетолога.
              a.btn(href="#") Читать полностью
              .item__views
                i.fa.fa-eye
                |540 просмотров
          .item
            .item__image
              img(src="i/placeholders/2-4.jpg")
            .item__content
              a.item__title(href="#")
                h5 Эфирный мир
              p Раньше для педиатра понятие “уход за кожей ребенка“ никогда не входило в число приоритетных ввиду того, что это считалась исключительно прерогативой косметологов и, в лучшем случае, дерматологов, но никак не педиатров.
              a.btn(href="#") Читать полностью
              .item__views
                i.fa.fa-eye
                |540 просмотров
      include includes/footer
    include includes/tail