- var active = 3
- var pageName = 'Наши предложения'
include includes/settings
doctype html
html(lang='ru').no-js
  head
    include includes/head
    | <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
  body
    .wrapper
      include includes/header
      .container.content
        aside.sidebar
          ul
            li: a(href="#") Акции
            li: a(href="#") Новые поступления
            li: a(href="#") Товары со скидками
        main
          h2 Новое поступление кремов
          .breadcrumbs
            ul
              li: a(href="#") Главная
              li: a(href="#") Наши предложения
          p: img(src="i/placeholders/big-1.jpg")
          p Самые знаменитые секреты красоты и здоровья объединяются единым термином «ароматерапия» и являются эффективным и изысканным средством решения различных косметических проблем. Методики же применения ароматов разнообразны, как жизнь:
          p Эфирные масла способны подарить нашей внешности порой больше, чем мы ожидаем. Существуют природные эссенции, вызывающие неизменную благосклонность зеркал. Они ласкали кожу Таис Афинской, они обрамляли своим ароматом восхитительную прелесть маркизы де Пампадур, они дарили красавицам различных эпох легендарный шарм и вечную молодость. 
          p Во времена зарождения духовности люди полагали, что «Пища Богов» - это ароматы. Вот почему считается, что человек, живущий с ароматами, не только притягивает к себе светлые магические силы извне, но также пробуждает божественную суть в своем сердце.
      include includes/footer
    include includes/tail