footer
  .contacts
    h5 Контакты во Владивостоке
    p
      |г. Владивосток, Океанский пр-т, 50<br>Тел 242-85-90, 242-78-35
    p
      |г. Владивосток, ул. Русская, 9 «Б»<br>тел. 246-71-59, 246-71-39
  .contacts.border
    h5 &nbsp;
    p
      |г. Владивосток, ул. Черемуховая, 15<br>тел. 294-81-56, 294-81-53
  .contacts.border
    h5 Контакты в Большом Камне
    p
      |Адрес: ул Гагарина 17<br>Тел: +7 (42335) 5-62-09
  .copy
    .footer__social.yashare-auto-init(data-yasharel10n='ru', data-yashareType="none", data-yasharequickservices='vkontakte,facebook,twitter,odnoklassniki,moimir')
    img.icon-iastudio(src="i/iastudio-logo.svg", width="21", height="21", onerror="this.onerror=null; this.src='i/iastudio-logo.png'")
    | Создание сайта &mdash; <br>
    | студия 
    a(href="http://iastudio.ru", target="_blank") «Интерактив»
    .copyright: &copy; 2014 «Моя аптека»