#slider-hero.slider
	.slider__slides
		ul.slider__container
			li.slider__item.active
				img(src="i/slider/1.jpg")
				.slider__slogan
					h2 Традиции
					p Приверженность традициям – величайшая ценность времени, которая служит основой инновациям!
			li.slider__item
				img(src="i/slider/2.jpg")
				.slider__slogan
					h2 Точность
					p Тот кто хочет знать – задает вопросы. Тот кто хочет знать точно – ответы
			li.slider__item
				img(src="i/slider/3.jpg")
				.slider__slogan
					h2 Профессионализм
					p Никто в своем профессиональном росте не имеет права на остановку
			li.slider__item
				img(src="i/slider/4.jpg")
				h1 Сохраняем традиции,<br>ценим доверие
		a.slider__nav.slider__nav--next(href='#')
			i.fa.fa-angle-right
		a.slider__nav.slider__nav--prev(href='#')
			i.fa.fa-angle-left
	.slider__dots