@font-face {
	font-family: 'apteka';
	src:url('apteka.eot?-bh3t8u');
	src:url('apteka.eot?#iefix-bh3t8u') format('embedded-opentype'),
		url('apteka.woff?-bh3t8u') format('woff'),
		url('apteka.ttf?-bh3t8u') format('truetype'),
		url('apteka.svg?-bh3t8u#apteka') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'apteka';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-hand:before {
	content: "\e600";
}
.icon-micro:before {
	content: "\e601";
}
.icon-shop:before {
	content: "\e602";
}
